.codeAppCon {
  color: #000;
}

.codeApp {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #000;
  text-decoration-color: white;
  -webkit-text-fill-color: white;

  -webkit-margin-top-collapse: 10px;
  -webkit-padding-start: 20px;
  /* padding on the inline-start side */
  -webkit-padding-end: 10px;
  /* padding on the inline-end side */
  -webkit-padding-before: 15px;
  /* padding on the block-start side */
  -webkit-padding-after: 5px;
}

.copybutton {
  padding-bottom: 10px;
  text-align: right;
}

.copycodebutton {
  background-color: black;
  color: white;
}
