.cardimageContainer{

    
    width: 100%;
    max-width: 700px;

    
   
   
    position: relative;
    padding: 40px;
   
}

.cardpostImage{

    border-radius: 12px;

    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
   
    }

    