
.dscPostStyle{
    padding-top: 20px;
    
    align-items: center;
  }
  

  /* Apply a common style to all heading tags */
h1, h2, h3, h4, h5, h6 {
  color: #333; /* Text color */
  font-family: 'Arial', sans-serif; /* Font family */
  font-weight: bold; /* Font weight */
  text-align: center; /* Text alignment */
  margin-bottom: 10px; /* Bottom margin */
}

/* Individual styling for each heading level */
h1 {
  font-size: 36px;
  line-height: 1.2;
}

h2 {
  font-size: 30px;
  line-height: 1.3;
}

h3 {
  font-size: 24px;
  line-height: 1.4;
}

h4 {
  font-size: 18px;
  line-height: 1.5;
}

h5 {
  font-size: 16px;
  line-height: 1.6;
}

h6 {
  font-size: 14px;
  line-height: 1.7;
}


p {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-style: italic;
}

