.DConatinet{

}

.infoContainer{
    display: flex;
    
    
    align-items: center;
    gap: 50px;
}

.textContainer{
    flex: 2;
    

}
.userImageContainer{
    width: 50px;
    height: 50px;
    position: relative;
}

.dtitle{
    font-size: 30px;
    flex: 1;
    width: 100%;
   
   
    margin-bottom: 50px;
}
 
.user{
    display: flex;
    align-items: center;
    gap: 20px;
}

.imageContainer{

    height: 350px;
    width: 50%;
    position: relative;
}

.avatar{
 border-radius: 50%;
 object-fit: cover;
}

.userTextContainer{
     display: flex;
     flex-direction: column;
     gap: 5px;
     color: var(--softTextColor);
}

.userName{
    font-size: 20px;
    font-weight: 500;
}
.postImage{
object-fit: cover;
border-radius: 12px;
}

.userImage{
    object-fit: cover;  
}

.dpost{
    flex: 5;
    margin-top: 60px;
}