.DConatinet{

}

.infoContainer{
    display: flex;
    
    
    align-items: center;
    gap: 50px;
}

.textContainer{
    flex: 2;
    

}
.userImageContainer{
    width: 50px;
    height: 50px;
    position: relative;
}

.dtitle{
    font-size: 30px;
    flex: 1;
    width: 100%;
   
   
    margin-bottom: 50px;
}
 
.user{
    display: flex;
    align-items: center;
    gap: 20px;
}

.imageContainer{

    height: 350px;
    width: 70%;
    position: relative;
}

.avatar{
 border-radius: 50%;
 object-fit: cover;
}

.userTextContainer{
     display: flex;
     flex-direction: column;
     gap: 5px;
     color: var(--softTextColor);
}

.userName{
    font-size: 20px;
    font-weight: 500;
}
.postImage{
object-fit: cover;
border-radius: 12px;
}

.userImage{
    object-fit: cover;  
}

.dpost{
    flex: 5;
    margin-top: 60px;
}

.ddescription p{
   font-size: 20px;
   font-weight: 300;
   margin-bottom: 20px;
}


.dscPostStyle{
   padding-top: 10px;
 }
 


@media screen and (max-width:1536px) {

    .dtitle{
       font-side: 54px;
     
    }
    
}

@media screen and (max-width:1280px) {

    .dtitle{
       font-side: 48px;
     
    }
    
}

@media screen and (max-width:1024px) {

    
    .infoContainer{
        flex: 0;
        display: grid;
    }

    .imageContainer{
        height: 369px;
        width: 100%;
    }

   
    
}
@media screen and (max-width:640px) {

    
    .infoContainer{
        flex: 0;
        display: grid;
    }

    .dtitle{
       font-size: 22px;
       width: 100%;
    }

    .ddescription p{
        font-size: 16px;
       
     }
   
    
}