.WContainer{
    

}
.WtextContainer{
    padding-bottom: 20px;
   
}

.Winput{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    padding-bottom: 10px;
    width: 60%;
    display: grid;

    outline: none;
    background-color: transparent;
    border: 2px solid #b3b3b1;

}

.Wediter{
    display: grid;
    

    width: 100%;
    position: relative;
    padding-top: 20px;
    
    
}

.selectButton{
    display: flex;
    

    width: 100%;
    position: relative;
    padding-top: 20px;
    
    
}

.selectText{
    
   flex: 2;
    
    
}

.WTextAreaCon{
   
    height: 600px;
    width: 100%;

    
    
}

.formText{
    width: 100%;
}

.WButton {
    width: 36px;
    height: 36px;

    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--textColor);
    display: grid;
    align-items: center;
  
    
    justify-content: center;
    cursor: pointer;  
}

.WaddButton{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--textColor);
    display: grid;
    align-items: center;
    justify-content: end;
    cursor: pointer;

}
.WaddButton{
    border-color: #1a8917;
}

.Wadd{
   display: grid;
   gap: 20px; 
   background-color: var(--bg);
   position: absolute;
   z-index: 999;
   width: 100%;
   left: 50px;
}

.WTextArea{
    width: 100%;
    height: 600px;
   
    padding-top: 30px;
}

.Winput::placeholder{
    color: #b3b3b1;
    
}

.WPublish{
    position: absolute;
    
   
  
    padding: 10px 80px ;
    border: none;
    background-color: #1a8917;
    color: #ffffff;
    cursor: pointer;
}

.WButtonPublish{
    padding: 80px 10px 0px 100px;
}

.addButtonContainer{
    display: grid;
    padding-left: 20px;
    padding-top: 50px;
}

.addButtonContainerP{
    flex: 1;
   
    padding-left: 20px;
  
}

