.blconatiner {
    margin-bottom: 50px;
    
    align-self: center;
    display: flex;
    gap: 50px;
}

.blimageConatiner {
 
    position: relative;
}

.blclimage {
    object-fit: cover;
    border-radius: 12px;
  
    
}

.bltextConatiner {
   
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 20px;
}

.bldate{
    color: gray;
}

.blcdcategory{
    
    color: crimson;
}

.bldesc{
    font-size: 18px;
    font-weight: 300;
    color: #626262;

}

.blclink{
 border-bottom: 1px solid crimson;
 width: max-content;
 padding: 2px 0px;
 color: #000;
}





.bcardTitle{
    text-align: start;
    color: black;
    font-size: 25px;
}



@media screen and (max-width:768px) {
    .blimageConatiner{
        display: none;
    }
    
}


