.blconatiner {
    margin-bottom: 50px;
    
    align-self: center;
    gap: 50px;
}

.blimageConatiner {
    flex: 3;
    height: 350px;
    position: relative;
}

.blclimage {
    object-fit: cover;
    border-radius: 12px;
}

.bltextConatiner {
    padding-top: 50px;
 
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.bldate{
    color: gray;
}

.blcdcategory{
    
    color: crimson;
}

.bldesc{
    font-size: 18px;
    font-weight: 300;
    color:var(--softTextColor);
}

.blclink{
 border-bottom: 1px solid crimson;
 width: max-content;
 padding: 2px 0px;
}

@media screen and (max-width:768px) {
    .blimageConatiner{
        display: none;
    }
    
}


