.conatiner {
    margin-bottom: 50px;
    display: flex;
    align-self: center;
    gap: 50px;
}

.imageConatiner {
    flex: 1;
    height: 350px;
    position: relative;
}

.climage {
    object-fit: cover;
    border-radius: 12px;
}

.textConatiner {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.date{
    color: gray;
}

.cdcategory{
    
    color: crimson;
}

.desc{
    font-size: 18px;
    font-weight: 300;
    color:var(--softTextColor);
}

.clink{
 border-bottom: 1px solid crimson;
 width: max-content;
 padding: 2px 0px;
}

@media screen and (max-width:768px) {
    .imageConatiner{
        display: none;
    }
    
}


