/*
web css
*/
.footerConatiner {
    margin-top: 50px;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--softTextColor);
}

.footerinfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 300px;
}

.footerlogo {

    align-items: center;
    gap: 10px;
}

.footerlogoText {
    font-size: 24px;
}

.footerlogoDesc {
    font-weight: 300;

}


.footericons {

    margin-top: 10px;
    display: flex;
    gap: 10px;

}

.footerlinks {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    padding: 0px 0px 10px 0px;

}

.footerlink {

    display: grid;


}

.footerlist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
}

.footerlistTitle {
    font-weight: bold;
    font-size: 16px;
}

.footerListSubTiitle {
    font-size: 16px;
}

@media screen and (max-width: 1024px) {
    .footerlinks {
        gap: 50px;
    }

}



@media screen and (max-width: 768px) {
    .footerConatiner {
        flex-direction: column;
        gap: 30px;

    }

    .footerlinks {
        width: 100%;
        gap: 30px;

        justify-content: space-between;
    }

}

@media screen and (max-width: 640px) {

    .footerlinks {
        gap: 10px;


    }

}


/* mobile verstion css */

.mobileFooterConatiner {
    padding-top: 20px;
    margin-top: 20px;
    color: var(--softTextColor);
}

.mobileFooterinfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 300px;
}

.mobileFooterlogo {

    align-items: center;
    gap: 10px;
}

.mobileFooterlogoText {
    font-size: 24px;
}

.mobileFooterlogoDesc {
    font-weight: 300;

}


.mobileFootericons {

    margin-top: 10px;
    display: flex;
    gap: 10px;

}

.mobileFooterlinks {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    padding: 10px 0px 10px 0px;

}

.mobileFooterlink {

    display: grid;


}

.mobileFooterlist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
}

.mobileFooterlistTitle {
    font-weight: bold;
    font-size: 16px;
}

.mobileFooterListSubTiitle {
    font-size: 16px;
}





@media screen and (max-width: 768px) {
    .mobileFooterConatiner {
        flex-direction: column;
        gap: 30px;

    }

    .mobileFooterlinks {
        width: 100%;
        gap: 30px;

        justify-content: space-between;
    }

}

@media screen and (max-width: 640px) {

    .mobileFooterlinks {
        gap: 10px;


    }

}